# Configurações AWS (para teste local, use valores fictícios)
KEY_ACCESS=fake_access_key
KEY_SECRET=fake_secret_key
REGION=us-east-1

# URL da fila SQS (para teste local, pode ser fictícia)
QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/test-queue

# Ambiente
ENVIRONMENT=local

# Nome do projeto
PROJECT_NAME=certified-builder-api-py

# URL do serviço Tech Floripa (substitua pela URL real)
URL_SERVICE_TECH=https://api.tech.floripa.br

# Prefixo da versão da API
PREFIX_API_VERSION=/api/v1
